img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50px;
}
td{
    text-align: center;
}
.d-flex {
    display: flex!important;
    justify-content: center;
}
th {
    text-align: center;
}
.header-menu {
    padding: 10px;
}

.header-menu .menu.is-active {
    display: block;

}

.logout-btn{
    color: #e3e3e3;
    background-color: #03502d;
}
.logout-btn:hover {
    border: 1px solid;
}